
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;0,900;1,400&family=Staatliches&display=swap');


body {
    font-size: 1.4rem;
    width: 100vw;
    text-align: center;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    
}
.logo img{
  width: 35vw;
  margin-bottom: 25px;
  
}
.logo{
  margin: 0 auto;
}
@media (min-width:768px) {
  body{
    width: 70vw;
  }
  .dias_container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dias_container .tabla{
    width: 30%;
    
  }
  
}
#salario{
  height: 40px;
  font-size: 1.2rem;
}
button{
  margin-top: 30px;
  width: 170px;
  height: 70px;
  padding: 8px;
  background-color: deepskyblue;
  color: white;
  font-size: 1.4rem;
  box-shadow: 0px 0px 10px black;
  text-shadow: 0px 3px 2px black;

}

.calendario{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  width: 95%;
}
.cuadro input{
  font-size: 1rem;
  width: 80%;
  height: 50px;
}
.cuadro h1{
  font-size: 1rem;
}
.cuadro{
  width: 15%;
  box-shadow: 0px 0px 7px black;
  text-align: center;
  margin-top: 15px;
}
.input__fecha input{
  width: 80%
}
.input__fecha{
  margin: 20px;
  padding: 10px;
  width: 45%;
  box-shadow: 0px 0px 5px black;
}
.fechas__container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tabla{
  font-size: 0.9rem;
  margin: 30px;
  text-align: left;
  width: 90%;
}
.tabla td{
  text-align: center;
  width: 30%
}
.calcular__boton{
  display: none
}
.button__container{
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.dias_container{
    
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dias_container .tabla{
  width: 50%;
  
}